/.vs/CppSource/v16/.suo
/.vs/CppSource/v16/Browse.VC.db
/.vs/CppSource/v16/Browse.VC.db-shm
/.vs/CppSource/v16/Browse.VC.db-wal
/.vs/CppSource/v16/Browse.VC.opendb
/.vs/CppSource/v16/ipch/AutoPCH/a8682f31ffb2430e/ALL.ipch
/.vs/CppSource/v16/ipch/AutoPCH/acdf346ce2fe2094/CPPSOURCE.ipch
/CppSource/Debug/CppSource.Build.CppClean.log
/CppSource/Debug/CppSource.exe.recipe
/CppSource/Debug/CppSource.log
/CppSource/Debug/CppSource.obj
/CppSource/Debug/CppSource.tlog/CL.command.1.tlog
/CppSource/Debug/CppSource.tlog/CL.read.1.tlog
/CppSource/Debug/CppSource.tlog/CL.write.1.tlog
/CppSource/Debug/CppSource.tlog/CppSource.lastbuildstate
/CppSource/Debug/CppSource.tlog/link.command.1.tlog
/CppSource/Debug/CppSource.tlog/link.read.1.tlog
/CppSource/Debug/CppSource.vcxproj.FileListAbsolute.txt
/CppSource/Debug/vc142.idb
/CppSource/Debug/vc142.pdb
/Debug/CppSource.exe
/Debug/CppSource.ilk
/Debug/CppSource.pdb
/CppSource/Debug/CppSource.tlog/link.write.1.tlog
/CppSource.sln.DotSettings.user
/CppSource/CppSource.vcxproj.filters
/CppSource/CppSource.vcxproj.user
/CppSource/CppSource.vcxproj
/CppSource.sln
